@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange: hsl(26, 100%, 55%);
  --paleorange: hsl(26, 100%, 75%);
  --lightgray: #FAFAFA;
  --silver: #d9d9d9;
  --mid: #979797;
  --smoke: #848884;
  --dark: #444444;
  --darker: #0A0708;
  --deep: #030303;
  --deeper: #000300;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    background-color: var(--deep);
    color: var(--silver);
    overflow-x: hidden;
    font-family: 'Kumbh Sans', sans-serif;
  }

  ::-webkit-scrollbar {
    width: .75em;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--smoke);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-radius: 10px;
    transition-duration: 2s;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--paleorange);
    transition-duration: 2s;
  }
}

@layer components {
  /*Flex Box Preset*/
  .centered {
      @apply flex flex-row justify-center items-center
  }

  .centered-col {
      @apply flex flex-col justify-center items-center
  }

  .spaced {
      @apply flex flex-row justify-between items-center
  }

  .spaced-col {
      @apply flex flex-col justify-between items-center
  }

  .evenly {
      @apply flex flex-row justify-evenly items-center
  }

  .evenly-col {
    @apply flex flex-col justify-evenly items-center
  }

  .invisilink {
      @apply relative collapse
  }

  /*Containers*/

  .section-container {
      @apply w-full min-h-[68vh] h-auto centered
  }

  .block-container {
    @apply xs:w-5/6 lg:w-4/5 min-h-full h-auto
  }

  .portion-container {
    @apply min-h-[20vh] xs:min-h-[20vh] lg:h-[30vh] w-screen h-auto centered
  }

  .content-container {
    @apply h-[calc(100vh-4rem)] md:h-[calc(100vh-6rem)] centered-col md:centered w-full bg-white mt-16 md:mt-24
  }

  /*Transitions*/

  .easy-transition {
    @apply duration-300 ease-in-out hover:cursor-pointer
  }

  .slow-transition {
    @apply duration-700 ease-in-out hover:cursor-pointer
  }

  .slugish-transition {
    @apply duration-1000 ease-in-out hover:cursor-pointer
  }

  .bg-img {
    @apply bg-center bg-no-repeat
  }

  /*Product Page*/
  .app-container {
    @apply relative w-screen h-auto min-h-screen bg-white centered
  }

  .content-container {
    @apply xs:centered-col md:flex-row md:mt-24 block-container lg:w-[70%] md:py-14
  }

  /*Navbar Section*/
  .navbar-link {
    @apply font-semibold text-mid/80 capitalize
  }

  .sidebar-link {
    @apply font-extrabold text-black/70 text-2xl capitalize
  }

  /*Slider Section*/
  .slider-section {
    @apply relative section-container min-h-[54vh] xs:h-96 sm:h-128  md:h-[30rem] centered-col flex-col gap-y-8 xs:mt-24 md:mt-0 z-10
  }

  .slide-container {
    @apply relative overflow-hidden bg-white block-container xs:w-full xs:h-full md:w-full md:rounded-xl
  }

  .slider-img {
    @apply absolute xs:-top-10 md:top-0 left-0 xs:h-[120%] md:h-[100%] w-full
  }

  .controller-btn {
    @apply absolute z-30 rounded-full bg-white w-[50px] h-[50px] centered top-[40%] disabled:cursor-not-allowed md:hidden
  }


}